GITHUB_CLIENT_ID=25cf3bb86c08f2008eae
GITHUB_CLIENT_SECRET=655e0b08d784360dd1080a44ca0abfd85dcb5816 


## Test with OAuth Google Authenticate
JWT_SECRET = 4353f5f45c58d1d694fb2ad120159582
GOOGLE_CLIENT_ID = "599570451042-eo9bt7307im17sp1vlqoevj4kjdu3pve.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
REDIRECT_URL = "http://localhost:4000/app/sessions/oauth/google"
SERVER_ENDPOINT = "http://localhost:4000"
ROOT_AUTH_URL = "https://accounts.google.com/o/oauth2/v2/auth"
APIS_USERINFO_PROFILE = "https://www.googleapis.com/auth/userinfo.profile"
APIS_USERINFO_EMAIL = "https://www.googleapis.com/auth/userinfo.email"

SERVER_ROOT_URI = "http://localhost:4000"
UI_ROOT_URI = "http://localhost:4000"
COOKIE_NAME = "auth_token"

# get the code from querySring (qs)
# get the ID and access token with the code
# get user with tokens
# upsert the user
# create a session
# create access & refresh tokens
# set cookies
# redirect back to client 

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"